<template>
    <diV class="container">
        <div class="card">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h2 class="mb-0">index componente empresas</h2>
                <a href="/empresas/create" class="btn btn-primary">
                    Nueva
                </a>
            </div>
            <div class="card-body">
                <table-empresas/> 
            </div>
        </div>
    </diV>

</template>

<script>
    
    import TableEmpresas from './Table.vue'

export default {
    components:{
        TableEmpresas
    }

}
</script>