<template>
    <div class="container">
        <div class="card">
            <div class="card-header bg-white d-flex justify-content-between align-items-center">
                <h2 class="mb-0">Roles</h2>
                <a href="/roles" class="btn btn-primary">
                    Regresar
                </a>
            </div>
            <div class="card-body">
                <div class="alert alert-success" v-if="verAlerta">
                    {{mensaje}}
                </div>
                <form @submit.prevent="guardar()">
                    <div class="form-group">
                        <label >Nombre</label>
                        <input 
                            type="text"
                            v-model="rol.nombre"
                            class="form-control"
                            placeholder="ingrese nombre"
                        >
                        <div v-if="errores.nombre">
                            <div v-for="error in errores.nombre" :key="error">
                                <strong class="text-danger">
                                    {{error}}
                                </strong>
                            </div>
                        </div>
                    </div>
                    <button
                        type="submit"
                        class="btn btn-primary"
                    >
                        Guardar
                    </button>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
import axios from 'axios'

export default {
    props:['rol_id'],
    mounted(){
        if(this.rol_id){
            this.buscarRol()
        }
    },
    data() {
        return {
            rol:{
                id: null,
                nombre: null
            },
            errores: {},
            verAlerta: false,
            mensaje: null        
        }
    },
    methods:{
        guardar(){
            this.rol_id ? this.editar() : this.crear()
        },
        async editar(){
            try {
                let { data } = await axios.put(`/roles/${this.rol_id}`, this.rol)
                this.verAlerta = true
                this.mensaje = data.mensaje
            } catch (error) {
                this.errores = error.response.data.errors
                this.mensaje = null
                this.verAlerta = false
            }
        },
        async crear(){
            try {
                let { data } = await axios.post('/roles', this.rol)
                this.verAlerta = true
                this.mensaje = data.mensaje
                this.rol.nombre = null
            } catch (error) {
                this.errores = error.response.data.errors
                this.mensaje = null
                this.verAlerta = false
            }
        },
        async buscarRol(){
            try {
                let { data } = await axios.get(`/roles/${this.rol_id}`)
                this.rol = data
            } catch (error) {
                this.rol = {
                    id: null,
                    nombre: null
                }
            }
        }
    }
}
</script>