<template>
    <diV class="container">
        <div class="card">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h2 class="mb-0">index componente roles</h2>
                <a href="/roles/create" class="btn btn-primary">
                    Nuevo
                </a>
            </div>
            <div class="card-body">
                <table-roles/> 
            </div>
        </div>
    </diV>

</template>

<script>
    
    import TableRoles from './Table.vue'

export default {
    components:{
            TableRoles
        },

}
</script>