<template>
    <div>
       <filter-bar
            @filter-set="onFilterSet"
            @filter-reset="onFilterReset"
            @per-page-set="onPerPageChange"       
        />
       <vuetable
            v-show="!loading"
            ref="vuetable" 
            api-url="/roles"
            pagination-path=""
            :fields="fields" 
            :sort-order="sortOrder" 
            :css="css.table" 
            :per-page="per_page" 
            :append-params="moreParams"
            @vuetable:pagination-data="onPaginationData"
        >
            <template slot="actions" slot-scope="props">
                <div class="text-center">
                    <a  :href="`roles/${props.rowData.id}/edit`" 
                        class="btn btn-warning btn-sm"
                        data-toggle="tooltip" 
                        data-placement="top" 
                        title="Editar rol"                        
                    >
                        editar
                    </a>
                    <button 
                        class="btn btn-danger btn-sm"
                        data-toggle="tooltip" 
                        data-placement="top" 
                        title="Eliminar rol"
                        @click="eliminarRol(props.rowData)"  
                    >
                        eliminar
                    </button>
                </div>
            </template>
        </vuetable>   
        <div class="row paginate" v-show="!loading">
            <div class="col-md-6 d-flex align-items-center">
                <h5 class="mb-0">
                    Total de registros
                    <vuetable-pagination-info 
                        ref="paginationInfo" 
                        info-template="{total}"
                    />
                </h5>     
            </div>
            <div class="col-md-6 text-right">
                <vuetable-pagination 
                    ref="pagination" 
                    :css="css.pagination"
                    @vuetable-pagination:change-page="onChangePage"
                />
            </div>
        </div>
    </div>
</template>

<script>
import axios from 'axios'
import FilterBar from '../FilterBar.vue'
import {Vuetable, VuetablePagination, VuetablePaginationInfo} from 'vuetable-2'

export default {
    components:{
        FilterBar,
         Vuetable,
        VuetablePagination,
        VuetablePaginationInfo
    },
    data() {
        return {
            fields: [
                {
                    name: 'id',
                    title: 'ID',
                    titleClass: 'text-center',
                    sortField: 'id',
                    dataClass: 'text-center align-middle'
                },
                {
                    name: 'nombre',
                    title: 'NOMBRE',
                    titleClass: 'text-center',
                    sortField: 'nombre',
                    dataClass: 'text-center align-middle'
                },
                {
                    name: '__slot:actions',
                    title: 'ACCIONES',
                    titleClass: 'text-center',
                    dataClass: 'text-center align-middle',
                }
            ],
            sortOrder: [{
                field: 'nombre',
                direction: 'asc'
            }],
            moreParams: {
                'query': ''
            },
            per_page: 10,
            css: {
                table: {
                    tableClass: 'table table-striped table-sm',
                    ascendingIcon: 'fa fa-chevron-up',
                    descendingIcon: 'fa fa-chevron-down',
                    handleIcon: 'fa fa-bars',
                },
                pagination: {
                    infoClass: '',
                    wrapperClass: 'vuetable-pagination',
                    activeClass: 'btn-info',
                    disabledClass: 'disabled',
                    pageClass: 'btn btn-border',
                    linkClass: 'btn btn-border',
                    icons: {
                        first: '',
                        prev: '',
                        next: '',
                        last: '',
                    },
                }
            },
            loading: false
        }
    },
    methods:{
        async eliminarRol(rol){
            try {
                await axios.delete(`/roles/${rol.id}`)
                 Vue.nextTick(() => this.$refs.vuetable.refresh())
            } catch (error) {
                
            }
        },
        onPaginationData(paginationData) {
            this.loading = false;
            this.$refs.pagination.setPaginationData(paginationData)
            this.$refs.paginationInfo.setPaginationData(paginationData)
        },
        onChangePage(page) {
            this.$refs.vuetable.changePage(page)
        },
        onFilterSet(filterText) {
            this.moreParams = {
                'query': filterText
            }
            Vue.nextTick(() => this.$refs.vuetable.refresh())
        },
        onFilterReset() {
            this.moreParams = {
                'query': ''
            }
            Vue.nextTick(() => this.$refs.vuetable.refresh())
        },
        onPerPageChange(perPage) {
            this.per_page = perPage;
            Vue.nextTick(() => this.$refs.vuetable.refresh())
        }
    }
}
</script>