<template>
    <div class="row justify-content-between align-items-center mb-4">
        <div class="col-12 col-xs-12 col-md-4 col-xl-4 col-lg-4">
            <span>Mostrar </span>
            <select @change="onPerPageChange">
                <option value="10">10</option>
                <option value="25">25</option>
                <option value="50">50</option>
            </select>
            <span> registros</span>
        </div>
        <div class="col-12 col-xs-12 col-md-6 col-xl-4 col-lg-4">
            <div class="input-group">
                <input type="text" class="form-control"
                    v-model="filterText"         
                    @keyup.enter="doFilter"
                    :placeholder="placeholder"
                />
                <div class="input-group-append">
                    <button class="btn btn-ereaser" @click="resetFilter">
                        borrar
                    </button>
                    <button class="btn btn-primary" @click="doFilter">
                        buscar
                    </button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: {
            placeholder: {
                type: String,
                default: 'ingrese texto para buscar...'
            }
        },
        data() {
            return {
                filterText: '',
                per_page: 10
            };
        },
        methods: {
            doFilter() {
                this.$emit('filter-set', this.filterText);
            },
            resetFilter() {
                this.filterText = '';
                this.$emit('filter-reset');
            },
            onPerPageChange(e) {
                this.per_page = Number(e.target.value);
                this.$emit('per-page-set', this.per_page);
            }
        }
    };
</script>

<style scoped>
    button.btn-ereaser {
        background-color: #dee2e6;
    }
</style>