<template>
    <div class="container">
        <div class="card">
            <div class="card-header bg-white d-flex justify-content-between align-items-center">
                <h2 class="mb-0">Usuarios</h2>
                <a href="/users" class="btn btn-primary">
                    Regresar
                </a>
            </div>
            <div class="card-body">
                <div class="alert alert-success" v-if="verAlerta">
                    {{mensaje}}
                </div>
                <form @submit.prevent="guardar()">
                    <div class="row">
                        <div class="col-4">
                            <div class="form-group">
                                <label >Nombre</label>
                                <input 
                                    type="text"
                                    v-model="user.name"
                                    class="form-control"
                                    placeholder="ingrese nombre"
                                >
                                <div v-if="errores.name">
                                    <div v-for="error in errores.name" :key="error">
                                        <strong class="text-danger">
                                            {{error}}
                                        </strong>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                             <div class="form-group">
                                <label >Correo</label>
                                <input 
                                    type="text"
                                    v-model="user.email"
                                    class="form-control"
                                    placeholder="ingrese correo"
                                >
                                <div v-if="errores.email">
                                    <div v-for="error in errores.email" :key="error">
                                        <strong class="text-danger">
                                            {{error}}
                                        </strong>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <label >Contraseña</label>
                                <input 
                                    type="password"
                                    v-model="user.password"
                                    class="form-control"
                                    placeholder="ingrese contraseña"
                                >
                                <div v-if="errores.password">
                                    <div v-for="error in errores.password" :key="error">
                                        <strong class="text-danger">
                                            {{error}}
                                        </strong>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <div class="form-group">
                                <label >Rol</label>
                                <select class="form-control" v-model="user.rol_id">
                                    <option :value="null">Seleccionar...</option >
                                    <option 
                                        v-for="rol in roles"
                                        :key="rol.id"
                                        :value="rol.id"
                                    >
                                        {{ rol.nombre }}
                                    </option >
                                </select>
                                <div v-if="errores.rol_id">
                                    <div v-for="error in errores.rol_id" :key="error">
                                        <strong class="text-danger">
                                            {{error}}
                                        </strong>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button
                        type="submit"
                        class="btn btn-primary"
                    >
                        Guardar
                    </button>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
import axios from 'axios'

export default {
    props:['user_id'],
    mounted(){
        this.listadoRoles()

        if(this.user_id){
            this.buscarUser()
        }
    },
    data() {
        return {
            user:{
                id: null,
                name: null,
                email: null,
                rol_id: null
            },
            roles: [],
            errores: {},
            verAlerta: false,
            mensaje: null        
        }
    },
    methods:{
        guardar(){
            this.user_id ? this.editar() : this.crear()
        },
        async editar(){
            try {
                let { data } = await axios.put(`/users/${this.user_id}`, this.user)
                this.verAlerta = true
                this.mensaje = data.mensaje
                this.errores = {}
            } catch (error) {
                this.errores = error.response.data.errors
                this.mensaje = null
                this.verAlerta = false
            }
        },
        async crear(){
            try {
                let { data } = await axios.post('/users', this.user)
                this.verAlerta = true
                this.mensaje = data.mensaje
                this.rol.nombre = null
            } catch (error) {
                this.errores = error.response.data.errors
                this.mensaje = null
                this.verAlerta = false
            }
        },
        async buscarUser(){
            try {
                let { data } = await axios.get(`/users/${this.user_id}`)
                this.user = data
            } catch (error) {
                this.user = {
                    id: null,
                    nombre: null
                }
            }
        },
        async listadoRoles(){
            try {
                let { data } = await axios.get('/roles', { params:{ listado: true } })
                this.roles = data
            } catch (error) {
                this.roles = []
            }
        }
    }
}
</script>