<template>
    <diV class="container">
        <div class="card">
            <div class="card-header bg-white d-flex justify-content-between align-items-center">
                <h2 class="mb-0">Usuarios</h2>
                <a href="/users/create" class="btn btn-primary">
                    Nuevo
                </a>
            </div>
            <div class="card-body">
                <table-users/> 
            </div>
        </div>
    </diV>

</template>

<script>
    
    import TableUsers from './Table.vue'

export default {
    components:{
            TableUsers
        },

}
</script>