<template>
    <div class="container">
        <div class="card">
            <div class="card-header bg-white d-flex justify-content-between align-items-center">
                <h2 class="mb-0">Empleados</h2>
                <a href="/empleados" class="btn btn-primary">
                    Regresar
                </a>
            </div>
            <div class="card-body">
                <div class="alert alert-success" v-if="verAlerta">
                    {{mensaje}}
                </div>
                <form @submit.prevent="guardar()">
                    <div class="row">
                        <div class="col-4">
                            <div class="form-group">
                                <label >Nombre</label>
                                <input 
                                    type="text"
                                    v-model="empleado.nombre"
                                    class="form-control"
                                    placeholder="ingrese nombre"
                                >
                                <div v-if="errores.nombre">
                                    <div v-for="error in errores.nombre" :key="error">
                                        <strong class="text-danger">
                                            {{error}}
                                        </strong>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                             <div class="form-group">
                                <label >Apellido paterno</label>
                                <input 
                                    type="text"
                                    v-model="empleado.apellido_paterno"
                                    class="form-control"
                                    placeholder="ingrese apellido paterno"
                                >
                                <div v-if="errores.apellido_paterno">
                                    <div v-for="error in errores.apellido_paterno" :key="error">
                                        <strong class="text-danger">
                                            {{error}}
                                        </strong>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                             <div class="form-group">
                                <label >Apellido materno</label>
                                <input 
                                    type="text"
                                    v-model="empleado.apellido_materno"
                                    class="form-control"
                                    placeholder="ingrese apellido materno"
                                >
                                <div v-if="errores.mpellido_materno">
                                    <div v-for="error in errores.apellido_materno" :key="error">
                                        <strong class="text-danger">
                                            {{error}}
                                        </strong>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <div class="form-group">
                                <label >Correo</label>
                                <input 
                                    type="text"
                                    v-model="empleado.correo_electronico"
                                    class="form-control"
                                    placeholder="ingrese correo"
                                >
                                <div v-if="errores.correo_electronico">
                                    <div v-for="error in errores.correo_electronico" :key="error">
                                        <strong class="text-danger">
                                            {{error}}
                                        </strong>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <label >Genero</label>
                                <select class="form-control" v-model="empleado.genero">
                                    <option :value="null">Seleccionar...</option >
                                    <option value="femenino">Femenino</option >
                                    <option value="masculino">Masculino</option >
                                </select>
                                <div v-if="errores.genero">
                                    <div v-for="error in errores.genero" :key="error">
                                        <strong class="text-danger">
                                            {{error}}
                                        </strong>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <label >Telefono</label>
                                <input 
                                    type="text"
                                    v-model="empleado.telefono"
                                    class="form-control"
                                    placeholder="ingrese telefono"
                                >
                                <div v-if="errores.telefono">
                                    <div v-for="error in errores.telefono" :key="error">
                                        <strong class="text-danger">
                                            {{error}}
                                        </strong>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <div class="form-group">
                                <label >Celular</label>
                                <input 
                                    type="text"
                                    v-model="empleado.celular"
                                    class="form-control"
                                    placeholder="ingrese celular"
                                >
                                <div v-if="errores.celular">
                                    <div v-for="error in errores.celular" :key="error">
                                        <strong class="text-danger">
                                            {{error}}
                                        </strong>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <label >Fecha nacimiento</label>
                                <input 
                                    type="date"
                                    v-model="empleado.fecha_nacimiento"
                                    class="form-control"
                                    placeholder="ingrese fecha de nacimiento"
                                >
                                <div v-if="errores.fecha_nacimiento">
                                    <div v-for="error in errores.fecha_nacimiento" :key="error">
                                        <strong class="text-danger">
                                            {{error}}
                                        </strong>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <label >Fecha ingreso</label>
                                <input 
                                    type="date"
                                    v-model="empleado.fecha_ingreso"
                                    class="form-control"
                                    placeholder="ingrese fecha de ingreso"
                                    :disabled="empleado_id"
                                >
                                <div v-if="errores.fecha_ingreso">
                                    <div v-for="error in errores.fecha_ingreso" :key="error">
                                        <strong class="text-danger">
                                            {{error}}
                                        </strong>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <div class="form-group">
                                <label >Empresa</label>
                                <select class="form-control" v-model="empleado.empresa_id">
                                    <option :value="null">Seleccionar...</option >
                                    <option 
                                        v-for="empresa in empresas"
                                        :key="empresa.id"
                                        :value="empresa.id"
                                    >
                                        {{ empresa.nombre }}
                                    </option >
                                </select>
                                <div v-if="errores.empresa_id">
                                    <div v-for="error in errores.empresa_id" :key="error">
                                        <strong class="text-danger">
                                            {{error}}
                                        </strong>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <label >Departamento</label>
                                <select class="form-control" v-model="empleado.departamento_id">
                                    <option :value="null">Seleccionar...</option >
                                    <option 
                                        v-for="departamento in departamentos"
                                        :key="departamento.id"
                                        :value="departamento.id"
                                    >
                                        {{ departamento.nombre }}
                                    </option >
                                </select>
                                <div v-if="errores.departamento_id">
                                    <div v-for="error in errores.departamento_id" :key="error">
                                        <strong class="text-danger">
                                            {{error}}
                                        </strong>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button
                        type="submit"
                        class="btn btn-primary"
                    >
                        Guardar
                    </button>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
import axios from 'axios'

export default {
    props:['empleado_id'],
    mounted(){
        this.listadoEmpresas()
        this.listadoDepartamentos()

        if(this.empleado_id){
            this.buscarEmpleado()
        }
    },
    data() {
        return {
            empleado:{
                id: null,
                nombre: null,
                apellido_paterno: null,
                apellido_materno: null,
                fecha_nacimiento: null,
                correo_electronico: null,
                genero: null,
                telefono: null,
                celular: null,
                fecha_nacimiento: null,
                fecha_ingreso: null,
                empresa_id: null,
                departamento_id: null
            },
            empresas: [],
            departamentos: [],
            errores: {},
            verAlerta: false,
            mensaje: null        
        }
    },
    methods:{
        guardar(){
            this.empleado_id ? this.editar() : this.crear()
        },
        async editar(){
            try {
                let { data } = await axios.put(`/empleados/${this.empleado_id}`, this.empleado)
                this.verAlerta = true
                this.mensaje = data.mensaje
                this.errores = {}
            } catch (error) {
                this.errores = error.response.data.errors
                this.mensaje = null
                this.verAlerta = false
            }
        },
        async crear(){
            try {
                let { data } = await axios.post('/empleados', this.empleado)
                this.verAlerta = true
                this.mensaje = data.mensaje
                this.empleado = {
                    id: null,
                    nombre: null,
                    apellido_paterno: null,
                    apellido_materno: null,
                    fecha_nacimiento: null,
                    correo_electronico: null,
                    genero: null,
                    telefono: null,
                    celular: null,
                    fecha_nacimiento: null,
                    fecha_ingreso: null,
                    empresa_id: null,
                    departamento_id: null
                }
            } catch (error) {
                this.errores = error.response.data.errors
                this.mensaje = null
                this.verAlerta = false
            }
        },
        async buscarEmpleado(){
            try {
                let { data } = await axios.get(`/empleados/${this.empleado_id}`)
                this.empleado = data
            } catch (error) {
                this.empleado = {
                    id: null,
                    nombre: null,
                    apellido_paterno: null,
                    apellido_materno: null,
                    fecha_nacimiento: null,
                    correo_electronico: null,
                    genero: null,
                    telefono: null,
                    celular: null,
                    fecha_nacimiento: null,
                    fecha_ingreso: null,
                    empresa_id: null,
                    departamento_id: null
                }
            }
        },
        async listadoEmpresas(){
            try {
                let { data } = await axios.get('/empresas', { params:{ listado: true } })
                this.empresas = data
            } catch (error) {
                this.empresas = []
            }
        },
         async listadoDepartamentos(){
            try {
                let { data } = await axios.get('/departamentos', { params:{ listado: true } })
                this.departamentos = data
            } catch (error) {
                this.departamentos = []
            }
        }
    }
}
</script>