<template>
    <diV class="container-fluid">
        <div class="card">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h2 class="mb-0">index componente empleados</h2>
                <a href="/empleados/create" class="btn btn-primary">
                    Nuevo
                </a>
            </div>
            <div class="card-body">
                <table-empleados/>
            </div>
        </div>
    </diV>
</template>

<script>
import TableEmpleados from './Table.vue'

export default {
    components:{
        TableEmpleados
    },

}
</script>