<template>
    <div>
       <filter-bar
            @filter-set="onFilterSet"
            @filter-reset="onFilterReset"
            @per-page-set="onPerPageChange"       
        />
        <div class="row">
            <div class="col-4">
                <div class="form-group">
                    <label >Empresa</label>
                    <select 
                        class="form-control"
                        v-model="moreParams.empresa_id"
                        @change="onFilterSet(moreParams.query)"
                    >
                        <option :value="null">Seleccionar...</option >
                        <option 
                            v-for="empresa in empresas"
                            :key="empresa.id"
                            :value="empresa.id"
                        >
                            {{ empresa.nombre }}
                        </option >
                    </select>
                </div>
            </div>
            <div class="col-4">
                <div class="form-group">
                    <label >Departamento</label>
                    <select 
                        class="form-control"
                        v-model="moreParams.departamento_id"
                         @change="onFilterSet(moreParams.query)"
                    >
                        <option :value="null">Seleccionar...</option >
                        <option 
                            v-for="departamento in departamentos"
                            :key="departamento.id"
                            :value="departamento.id"
                        >
                            {{ departamento.nombre }}
                        </option >
                    </select>
                </div>
            </div>
        </div>
       <vuetable
            v-show="!loading"
            ref="vuetable" 
            api-url="/empleados"
            pagination-path=""
            :fields="fields" 
            :sort-order="sortOrder" 
            :css="css.table" 
            :per-page="per_page" 
            :append-params="moreParams"
            @vuetable:pagination-data="onPaginationData"
        >
            <template slot="actions" slot-scope="props">
                <div class="text-center">
                    <a  :href="`empleados/${props.rowData.id}/edit`" 
                        class="btn btn-warning btn-sm"
                        data-toggle="tooltip" 
                        data-placement="top" 
                        title="Editar departamento"                        
                    >
                        editar
                    </a>
                </div>
            </template>
        </vuetable>   
        <div class="row paginate" v-show="!loading">
            <div class="col-md-6 d-flex align-items-center">
                <h5 class="mb-0">
                    Total de registros
                    <vuetable-pagination-info 
                        ref="paginationInfo" 
                        info-template="{total}"
                    />
                </h5>     
            </div>
            <div class="col-md-6 text-right">
                <vuetable-pagination 
                    ref="pagination" 
                    :css="css.pagination"
                    @vuetable-pagination:change-page="onChangePage"
                />
            </div>
        </div>
    </div>
</template>

<script>
import axios from 'axios'
import FilterBar from '../FilterBar.vue'
import {Vuetable, VuetablePagination, VuetablePaginationInfo} from 'vuetable-2'

export default {
    components:{
        FilterBar,
         Vuetable,
        VuetablePagination,
        VuetablePaginationInfo
    },
    mounted(){
        this.listadoEmpresas()
        this.listadoDepartamentos()
    },
    data() {
        return {
            empresas: [],
            departamentos: [],
            fields: [
                {
                    name: 'id',
                    title: 'ID',
                    titleClass: 'text-center',
                    sortField: 'id',
                    dataClass: 'text-center align-middle'
                },
                {
                    name: 'empresa.nombre',
                    title: 'EMPRESA',
                    titleClass: 'text-center',
                    dataClass: 'text-center align-middle'
                },
                {
                    name: 'departamento.nombre',
                    title: 'DEPARTAMENTO',
                    titleClass: 'text-center',
                    dataClass: 'text-center align-middle'
                },
                {
                    name: 'nombre',
                    title: 'NOMBRE',
                    titleClass: 'text-center',
                    sortField: 'nombre',
                    dataClass: 'text-center align-middle'
                },
                 {
                    name: 'apellido_paterno',
                    title: 'APELLIDO PATERNO',
                    titleClass: 'text-center',
                    sortField: 'apellido_paterno',
                    dataClass: 'text-center align-middle'
                },
                {
                    name: 'apellido_materno',
                    title: 'APELLIDO MATERNO',
                    titleClass: 'text-center',
                    sortField: 'apellido_materno',
                    dataClass: 'text-center align-middle'
                },
                 {
                    name: 'fecha_nacimiento',
                    title: 'FECHA NACIMIENTO',
                    titleClass: 'text-center',
                    sortField: 'fecha_naciemiento',
                    dataClass: 'text-center align-middle'
                },
                {
                    name: 'correo_electronico',
                    title: 'CORREO',
                    titleClass: 'text-center',
                    sortField: 'correo_electronico',
                    dataClass: 'text-center align-middle'
                },
                {
                    name: 'genero',
                    title: 'GENERO',
                    titleClass: 'text-center',
                    sortField: 'genero',
                    dataClass: 'text-center align-middle'
                },
                {
                    name: 'telefono',
                    title: 'TELEFONO',
                    titleClass: 'text-center',
                    sortField: 'telefono',
                    dataClass: 'text-center align-middle'
                },
                {
                    name: 'celular',
                    title: 'CELULAR',
                    titleClass: 'text-center',
                    sortField: 'celular',
                    dataClass: 'text-center align-middle'
                },
                {
                    name: 'fecha_ingreso',
                    title: 'FECHA DE INGRESO',
                    titleClass: 'text-center',
                    sortField: 'fecha_ingreso',
                    dataClass: 'text-center align-middle'
                },
                {
                    name: '__slot:actions',
                    title: 'ACCIONES',
                    titleClass: 'text-center',
                    dataClass: 'text-center align-middle',
                }
            ],
            sortOrder: [{
                field: 'nombre',
                direction: 'asc'
            }],
            moreParams: {
                'query': '',
                empresa_id: null,
                departamento_id: null
            },
            per_page: 10,
            css: {
                table: {
                    tableClass: 'table table-striped table-sm',
                    ascendingIcon: 'fa fa-chevron-up',
                    descendingIcon: 'fa fa-chevron-down',
                    handleIcon: 'fa fa-bars',
                },
                pagination: {
                    infoClass: '',
                    wrapperClass: 'vuetable-pagination',
                    activeClass: 'btn-info',
                    disabledClass: 'disabled',
                    pageClass: 'btn btn-border',
                    linkClass: 'btn btn-border',
                    icons: {
                        first: '',
                        prev: '',
                        next: '',
                        last: '',
                    },
                }
            },
            loading: false
        }
    },
    methods:{
        onPaginationData(paginationData) {
            this.loading = false;
            this.$refs.pagination.setPaginationData(paginationData)
            this.$refs.paginationInfo.setPaginationData(paginationData)
        },
        onChangePage(page) {
            this.$refs.vuetable.changePage(page)
        },
        onFilterSet(filterText) {
            this.moreParams.query = filterText
            Vue.nextTick(() => this.$refs.vuetable.refresh())
        },
        onFilterReset() {
            this.moreParams = {
                'query': '',
                empresa_id: null,
                departamento_id: null
            }
            Vue.nextTick(() => this.$refs.vuetable.refresh())
        },
        onPerPageChange(perPage) {
            this.per_page = perPage;
            Vue.nextTick(() => this.$refs.vuetable.refresh())
        },
        async listadoEmpresas(){
            try {
                let { data } = await axios.get('/empresas', { params:{ listado: true } })
                this.empresas = data
            } catch (error) {
                this.empresas = []
            }
        },
         async listadoDepartamentos(){
            try {
                let { data } = await axios.get('/departamentos', { params:{ listado: true } })
                this.departamentos = data
            } catch (error) {
                this.departamentos = []
            }
        }
    }
}
</script>