<template>
    <diV class="container">
        <div class="card">
            <div class="card-header bg-white d-flex justify-content-between align-items-center">
                <h2 class="mb-0">index componente departamentos</h2>
                <a href="/departamentos/create" class="btn btn-primary">
                    Nuevo
                </a>
            </div>
            <div class="card-body">
               <table-departamentos/> 
            </div>
        </div>
    </diV>

</template>

<script>
import TableDepartamentos from './Table.vue'

export default {
    components:{
        TableDepartamentos
    }
}
</script>